<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="panel panel-blur with-scroll page-panel animated zoomIn">
        <div class="panel-heading clearfix"><h3 class="panel-title">服务器</h3></div>
        <div class="panel-body" style="padding-top: 0px; padding-bottom: 0px;">
          <div class="horizontal-scroll">
            <div style="margin: 10px 0px">
              <button type="button" class="btn btn-primary btn-with-icon" (click)="showModal('add',null)">
                <i class="fa fa-plus"></i> 添加
              </button>
              <!--<button class="btn btn-info" (click)="showModal('delete',row)">删除</button>
              <button class="btn btn-success" (click)="showModal('modify',row)">修改</button>-->
            </div>
            <datagrid [options]="options" [dataUrl]="dataUrl"  [searchParams]="searchParams" #datagrid></datagrid>
          </div>
        </div>
      </div>
    </div>
    <ng-template #statusTpl>

    </ng-template>
    <!-- 操作列, 代码模板 -->
    <ng-template #optTpl let-row="row" let-col="col" let-rowIndex="rowIndex" let-colIndex="colIndex">
      <button class="btn btn-xs btn-success" role="button" (click)="showModal('modify',row)">修改</button>
      <button class="btn btn-xs btn-info" (click)="showModal('delete',row)">删除</button>
    </ng-template>

  </div>
</div>

<!-- 添加/修改 -->
<div class="modal fade" bsModal #updateModal="bs-modal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true"
     (onHide)="modalHandler(formInfo,'onHide', $event)">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{modaltype == 'add'? '添加':'修改'}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="updateModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="width:750px;">
        <form name="serverInfo" #formInfo="ngForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <div  class="col-md-3 col-form-label">名称</div>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="name" placeholder="请输入名称"
                         [(ngModel)]="item.name" required #name="ngModel">
                  <div *ngIf="name.invalid && (name.dirty || name.touched)">
                    <div *ngIf="name.errors.required" style="color:red">
                      服务器名称不能为空!
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-3 col-form-label">地域</div>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="region" placeholder="请输地域"
                         [(ngModel)]="item.region" #region="ngModel" required>
                  <div *ngIf="region.invalid && (region.dirty || region.touched)">
                    <div *ngIf="region.errors.required" style="color:red">
                      服务地域不能为空!
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <div  class="col-md-3 col-form-label">IP地址</div>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="ip" placeholder="请输入IP地址"
                         [(ngModel)]="item.ip" #ip="ngModel" required>
                  <div *ngIf="ip.invalid && (ip.dirty || ip.touched)">
                    <div *ngIf="ip.errors.required" style="color:red">
                      服务器ip地址不能为空!
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-3 col-form-label">管理端口</div>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="port" placeholder="请输入管理端口"
                         [(ngModel)]="item.port" #port="ngModel" required>
                  <div *ngIf="port.invalid && (port.dirty || port.touched)">
                    <div *ngIf="port.errors.required" style="color:red">
                      服务器管理端口不能为空!
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <div  class="col-md-3 col-form-label">用户名</div>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="user" placeholder="请输入用户名"
                         [(ngModel)]="item.user" #user="ngModel" required>
                  <div *ngIf="user.invalid && (user.dirty || user.touched)">
                    <div *ngIf="user.errors.required" style="color:red">
                      用户名不能为空!
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-3 col-form-label">密码</div>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="userPwd" placeholder="请输入密码"
                         [(ngModel)]="item.userPwd" #userPwd="ngModel" required>
                  <div *ngIf="userPwd.invalid && (userPwd.dirty || userPwd.touched)">
                    <div *ngIf="userPwd.errors.required" style="color:red">
                      密码不能为空!
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <div  class="col-md-3 col-form-label">流量</div>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="traffic" placeholder="请输入流量"
                         [(ngModel)]="item.traffic" #traffic="ngModel" required>
                  <div *ngIf="traffic.invalid && (traffic.dirty || traffic.touched)">
                    <div *ngIf="traffic.errors.required" style="color:red">
                      服务器名称不能为空!
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-3 col-form-label">流量名称</div>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="trafficName" placeholder="请输入流量名称"
                         [(ngModel)]="item.trafficName" #trafficName="ngModel" required>
                  <div *ngIf="trafficName.invalid && (trafficName.dirty || trafficName.touched)">
                    <div *ngIf="trafficName.errors.required" style="color:red">
                      流量名称不能为空!
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="updateModal.hide()">取消</button>
        <button type="button" class="btn btn-primary" (click)="saveItem(formInfo)">提交</button>
      </div>
    </div>
  </div>

</div>

<!-- 删除 -->
<div bsModal #deleteModal="bs-modal" class="modal fade" role="dialog" tabindex="-1"
     aria-labelledby="mySmallModalLabel" aria-hidden="true"
     (onHide)="modalHandler(null,'onHide',$event)">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">删除</h5>
        <button type="button" class="close" aria-label="Close" (click)="deleteModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="width:400px;">
        <p>确定删除该服务器?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">取消</button>
        <button type="button" class="btn btn-primary" (click)="sureDelete()">确定</button>
      </div>
    </div>
  </div>
</div>

