<nav class="navbar navbar-dark bg-dark" style="position: fixed;left: 0;top: 0;width: 100%;background: rgba(0,0,0,0.35)!important;z-index:1000;">
  <a class="navbar-brand" href="#" style="font-weight:100;letter-spacing:2px;font-size:26px;color: #ecf0f1;margin-left: 7%;">自由之光 Freedom's Light</a>
  <ul class="navbar-nav" style="display: block;">
    <li class="nav-item" style="float: left;margin:0 50px;margin-top: 6px;">
      <a class="nav-link" href="javascript:void(0)" class="register" (click)="openRegister(registerModal)">注册</a>
    </li>
    <li class="nav-item active" style="float: left;margin:0 50px;">
      <a class="nav-link" href="#" style="color: #ecf0f1;">首页<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item" style="float: left;margin:0 50px;">
      <a class="nav-link" href="#" style="color: #ecf0f1;">登录</a>
    </li>
  </ul>
</nav>
<template #registerModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left" style="color: #4D4D4D;">注册</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col" style="margin-bottom: 20px;">
      <input class="registerModalInput" placeholder="点击输入邮箱" type="email" [(ngModel)]="item.email" />
    </div>
    <div class="col" style="margin-bottom: 30px;">
      <input class="registerModalInput" placeholder="点击输入密码" type="password" [(ngModel)]="item.password" />
    </div>
    <ul class="col" style="list-style: none;">
      <li>
        <h5><small translate="LOGIN_FORM.NO_SPAM" class="subheader">我们和您一样厌恶广告邮件（使用 QQ邮箱 可能会收不到任何重要通知）</small></h5>
      </li>
      <li>
        <h5><small class="subheader">密码采用&nbsp;<a href="http://security.stackexchange.com/questions/4781/do-any-security-experts-recommend-bcrypt-for-password-storage" target="_blank">Bcrypt</a>&nbsp; 进行 hash 密文存储</small></h5>
      </li>
    </ul>
    <button class="col registerBtn" style="height: 50px;" (click)="register()">注册</button>
  </div>
</template>
