<web-header></web-header>
<section style="height: 100%; background: url('./assets/img/_summer_road.jpg') no-repeat center;background-size: cover;">
  <div class="indexFirst">
    <h1 class="animated fadeIn hero-title" style="padding-top: 15%;font-size: 50px;margin-bottom: 2%;">简单，好用</h1>
    <div class="medium-8 medium-centered columns hero-content">
      <p class="lead ng-binding">徜徉全世界，只为你自由</p>
    </div>
    <div class="row" style="width: 50%;margin: 3% auto;height: 42px;">
      <input class="col indexInput" type="text" placeholder="邮箱" />
      <input class="col indexInput" style="margin: 0 3px;" type="password" placeholder="密码" />
      <button class="col indexLoad">登录</button>
    </div>
  </div>
</section>
<section style="background: #f9f9f9;text-align: center;padding: 8% 0;">
  <h2 style="font-size: 26px;color: #222;font-weight: 300;margin-bottom: 3%;">过去的五分钟里，小光为用户加速了流量：</h2>
  <h2 id="tr_number" style="margin-bottom: 2%;">
    <span style="font-size: 32px;color: #95a5a6;font-weight: 300;">8407.155 MB</span>
  </h2>
  <h3 class="round-margin">
    <span style="font-size: 12px;color:#8b8b8b;">平均速度: <span class="ng-binding">224.191 Mb/s</span></span>
  </h3>
</section>
<section>
  <div class="row indexInfoSection">
    <div class="col" style="text-align: center;">
      <img src="./assets/img/devices.png" style="margin-bottom: 3%;" />
      <div style="font-size: 26px;color: #222;font-weight: 400;font-style: italic;">多套方案，全面解决</div>
    </div>
    <div class="col">
      <h4 class="indexFontH4">小光提供：SS，配置简单，适用于所有常见设备、可定制的路由器以及 PS4 等设备</h4>
      <h4 class="indexFontH4" style="font-weight:bold;margin:0;">使用小光只需配置一次，无需连接、开机即用</h4>
      <h4 class="indexFontH4" style="font-weight:bold;margin-top: 0;">智能识别需要加速的流量，不影响正常网站的访问</h4>
      <h4 class="indexFontH4">小光目前有亚太、北美、欧洲各类CN2、LotWan等多条黑科技加速线路，而且平均每月都在增加优质线路</h4>
    </div>
  </div>
  <div class="row indexInfoSection">
    <div class="col">
      <h4 class="indexFontH4">小光目前提供两类服务分别适用于身处中国大陆、大陆外的用户，智能加速不同的网络，并提供灵活的资费全面满足不同需求</h4>
      <h4 class="indexFontH4" style="font-weight:bold;margin:0;">支持支付宝、全球各类信用卡付款</h4>
      <h4 class="indexFontH4" style="font-weight:bold;margin-top:0;">付款后服务自动开通，无需人工干预，即买即用</h4>
      <h4 class="indexFontH4">7x24超快速工单支持，平均5分钟内得到回复</h4>
    </div>
    <div class="col" style="text-align: center;">
      <span class="fa fa-child fa-4x" style="color: #444;margin: 8% 0 5% 0;font-size: 72px;"></span>
      <h2 class="about-title i" style="color: #222;font-style: italic;font-size: 26px;font-weight: normal;">资费灵活，服务完善</h2>
    </div>
  </div>
  <div class="row indexInfoSection">
    <div class="col" style="text-align: center;">
      <span class="fa fa-code fa-4x" style="color: #444;margin: 8% 0 5% 0;font-size: 72px;"></span>
      <h2 class="about-title i" style="color: #222;font-style: italic;font-size: 26px;font-weight: normal;">自主开发，技术可靠</h2>
    </div>
    <div class="col">
      <h4 class="indexFontH4">不同于其他服务商套用现成模版，小光所有网站、服务器代码等核心技术除底层开源软件外均为自主开发</h4>
      <h4 class="indexFontH4">对新技术的应用与服务的稳定程度都是绝对领先，服务质量已经多年考验</h4>
      <h4 class="indexFontH4">把复杂的网络问题交给小光解决，释放您的生产力</h4>
    </div>
  </div>
</section>
<!--<div class="container">
  <section class="row">
    <div class="col" style="height: 210px;">
      <div class="textCenter margin50"><i class="fa fa-globe fa-5" aria-hidden="true" style="font-size: 100px;color: #2c98f0;"></i></div>
      <div class="textCenter margin20" style="color: #292929;">国际高速干线，全球畅通</div>
    </div>
    <div class="col" style="height: 210px;">
      <div class="textCenter margin50"><i class="fa fa-plane" style="font-size: 100px;color: #2c98f0;" aria-hidden="true"></i></div>
      <div class="textCenter margin20" style="color: #292929;">多平台、设备支持</div>
    </div>
    <div class="col" style="height: 210px;">
      <div class="textCenter margin50"><i class="fa fa-drupal" style="font-size: 100px;color: #2c98f0;" aria-hidden="true"></i></div>
      <div class="textCenter margin20" style="color: #292929;">7*12小时服务，全年无休</div>
    </div>
  </section>
</div>-->
