<div class="loading" *ngIf="show">
  <div class="loading-com">
    <div class="spinner" [ngStyle]="{'width.px':size,'height.px':size}">
      <div class="spinner-container container1">
        <div class="item circle1" [ngStyle]="{'width.px':spinnerSize,'height.px':spinnerSize,'background-color':color}"></div>
        <div class="item circle2" [ngStyle]="{'width.px':spinnerSize,'height.px':spinnerSize,'background-color':color}"></div>
        <div class="item circle3" [ngStyle]="{'width.px':spinnerSize,'height.px':spinnerSize,'background-color':color}"></div>
        <div class="item circle4" [ngStyle]="{'width.px':spinnerSize,'height.px':spinnerSize,'background-color':color}"></div>
      </div>
      <div class="spinner-container container2">
        <div class="item circle1" [ngStyle]="{'width.px':spinnerSize,'height.px':spinnerSize,'background-color':color}"></div>
        <div class="item circle2" [ngStyle]="{'width.px':spinnerSize,'height.px':spinnerSize,'background-color':color}"></div>
        <div class="item circle3" [ngStyle]="{'width.px':spinnerSize,'height.px':spinnerSize,'background-color':color}"></div>
        <div class="item circle4" [ngStyle]="{'width.px':spinnerSize,'height.px':spinnerSize,'background-color':color}"></div>
      </div>
      <div class="spinner-container container3">
        <div class="item circle1" [ngStyle]="{'width.px':spinnerSize,'height.px':spinnerSize,'background-color':color}"></div>
        <div class="item circle2" [ngStyle]="{'width.px':spinnerSize,'height.px':spinnerSize,'background-color':color}"></div>
        <div class="item circle3" [ngStyle]="{'width.px':spinnerSize,'height.px':spinnerSize,'background-color':color}"></div>
        <div class="item circle4" [ngStyle]="{'width.px':spinnerSize,'height.px':spinnerSize,'background-color':color}"></div>
      </div>
    </div>
  </div>
</div>
